:host{ 

}

.auth-container{
    // height: 100vh;
    // width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    // background-color: rgb(205, 30, 30);

    .left-container{
        
    }
    .right-container{

    }
}
